.wrapper-classes {
  max-width: 39rem;
  margin: 0 auto;
  padding: 2rem;
}

.wrapper-classes h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  text-align: justify;
}

.wrapper-classes h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4.2rem;
  text-align: justify;
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .wrapper-classes {
    max-width: 98.4rem;
  }
}
