.wrapper-register {
  max-width: 39rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container-register {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.slogan-register {
  display: none;
}

.form-register {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 8rem;
}

.form-register a {
  margin: 0 auto;
}

form input {
  background-color: #d9d9d9;
  width: 35rem;
  height: 5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1.6rem 1.5rem;
}

form input:focus {
  outline: 2px solid #E4105F;
}

img.logo-register {
  margin-top: 2rem;
  width: 10rem;
  height: 4rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

a:hover {
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .wrapper-register {
    width: 90%;
    max-width: 102.4rem;
    flex-direction: column;
    align-items: center;
  }

  img.logo-register {
    margin-top: 0;
    width: 24rem;
    height: auto;
    position: relative;
  }

  img.capa {
    width: 35rem;
    height: 35rem;
  }

  .container-register {
    flex-direction: row;
    align-items: center;
    gap: 12rem;
  }

  .slogan-register {
    /* width: 55rem; */
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-register {
    margin-top: 0;
    width: 55rem;
    justify-content: center;
    align-items: center;
  }
}
